.section {
  &--scheme {
    .section__container {
      padding-top: 2.3rem;
      padding-bottom: 3.3rem;
      @media (min-width: $md) and (max-width: $lg) {
        padding-top: 3rem;
        padding-bottom: 4.5rem;
      }

      @media (min-width: $lg) {
        padding-top: 5.6rem;
        padding-bottom: 8.5rem;
      }
    }
    .section__title {
      &:not(:last-child) {
        margin-bottom: 2.1rem;
      }
      @media (min-width: $lg) {
        &:not(:last-child) {
          margin-bottom: 4.2rem;
        }
      }
    }
    .section__circle {
      left: unset;
      top: unset;
      @media (min-width: $md) and (max-width: $lg) {
        display: block;
        right: -15.7rem;
        bottom: -7.4rem;
      }

      @media (min-width: $lg) {
        right: -18.9rem;
        bottom: 5.8rem;
      }
    }
  }

  // .section__container
  &__container {
    position: relative;
    padding-top: 3.2rem;
    padding-bottom: 3.1rem;
    @media (min-width: $md) and (max-width: $lg) {
      padding-top: 3.6rem;
      padding-bottom: 3.8rem;
    }

    @media (min-width: $lg) {
      padding-top: 8.3rem;
      padding-bottom: 9.6rem;
    }
  }
  // .section__title
  &__title {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    @media (min-width: $md) and (max-width: $lg) {
      &:not(:last-child) {
        margin-bottom: 3.5rem;
      }
    }
    @media (min-width: $lg) {
      &:not(:last-child) {
        margin-bottom: 5.7rem;
      }
    }
  }
  // .section__text
  &__text {
    &:not(:last-child) {
      margin-bottom: 2.1rem;
    }
    @media (min-width: $md) and (max-width: $lg) {
      &:not(:last-child) {
        margin-bottom: 3.5rem;
      }
    }
    @media (min-width: $lg) {
      &:not(:last-child) {
        margin-bottom: 4.2rem;
      }
    }
  }
  // .section__video
  &__video {
    height: 24.3rem;

    @media (min-width: $md) and (max-width: $lg) {
      height: 38.5rem;
    }

    @media (min-width: $lg) {
      height: 64.1rem;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
  // .section__circle
  &__circle {
    position: absolute;
    z-index: -1;
    @media (max-width: $lg) {
      display: none;
    }

    @media (min-width: $lg) {
      top: 8.3rem;
      left: -40.3rem;
    }
  }
}
