<section class="lesson">
  <div class="lesson__container">
    <h2 class="lesson__title"><span class="color--nachtmusik">Темы</span> занятий</h2>
    <div class="lesson__body">
      <div class="lesson__col">
        <div class="lesson__content">
          <h4 class="lesson-content__title">Практика</h4>
          <div class="lesson__item">
            <ul class="lesson__list">
              <li class="lesson-list__item"><span>УРОК 1.</span> Настройка платформы и торгового стола</li>
              <li class="lesson-list__item">
                <span>УРОК 2.</span> Поиск точек входа в моменты дисбаланса спроса и предложения
              </li>
              <li class="lesson-list__item"><span>УРОК 3.</span> Описание и демонстрация следов маркет мейкера</li>
              <li class="lesson-list__item">
                <span>УРОК 4.</span> Риск менеджмент. Таблица рисков с применением плечей на фьючерсах
              </li>
              <li class="lesson-list__item">
                <span>УРОК 5.</span> Менеджмент позиции. Правила выхода из скальпа и оставление части обьема на
                среднесрок.
              </li>
              <li class="lesson-list__item">
                <span>УРОК 6.</span> Психология. Подавление эмоций во время активного внутридневного трейдинга.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="lesson__col">
        <div class="lesson__content">
          <h4 class="lesson-content__title">Теория</h4>
          <div class="lesson__item">
            <ul class="lesson__list">
              <li class="lesson-list__item"><span>УРОК 1.</span> Онлайн трансляции с применением техник на практике</li>
              <li class="lesson-list__item"><span>УРОК 1.</span> Онлайн трансляции с применением техник на практике</li>
              <li class="lesson-list__item"><span>УРОК 3.</span> Торговля в чате</li>
            </ul>
          </div>
        </div>
        <img src="@img/main/theme-image.svg" alt="" loading="lazy" class="lesson__image" />
      </div>
    </div>
  </div>
</section>
