<div class="section section--scheme">
  <div class="section__container">
    <h2 class="section__title"><span class="color--nachtmusik">Читерская</span> схема:</h2>
    <p class="section__text">
      Мы дадим вам платформу, где будет доступен гарантированный стоп (выход по вашей цене без проскальзывания).
      Благодаря этому ноухау, ваше мат ожидание и вероятность преуспеть в скальпинге вырастет в разы.
    </p>
    <h2 class="section__title"><span class="color--nachtmusik">Пример применения</span> гарантированного стопа:</h2>
    <div class="section__video">
      <img src="@img/main/video2.jpg" alt="" loading="lazy" class="img-full" />
    </div>
    <div class="section__circle circle"></div>
  </div>
</div>
